<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System</title>
</head>
<body>
    <h1>Recommendation System</h1>
    <form method="post" action="{% url 'recommendation_result' %}">
        {% csrf_token %}
        <label for="customer_id">Select Customer ID:</label>
        <select name="customer_id" id="customer_id">
            {% for customer_id in customer_ids %}
            <option value="{{ customer_id }}">{{ customer_id }}</option>
            {% endfor %}
        </select>

        <!-- Add a dropdown for selecting a product ID -->
        <label for="product_id">Select Product ID:</label>
        <select name="product_id" id="product_id">
            {% for product_id in product_ids %}
            <option value="{{ product_id }}">{{ product_id }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>
